<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creditharmony.core.cms.dao.LinkDao">
    
	<sql id="cmsLinkColumns">
		a.id AS "id",
		a.category_id AS "category.id",
		a.title AS "title",
		a.color AS "color",
		a.image AS "image",
		a.href AS "href",
		a.weight AS "weight",
		a.weight_date AS "weightDate",
		a.create_by AS "createBy",
		a.create_time AS "createTime",
		a.modify_by AS "modifyBy",
		a.modify_time AS "modifyTime",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		c.name AS "category.name",
		u.name AS "user.name"
	</sql>
	
	<sql id="cmsLinkJoins">
		JOIN gl.t_gl_cms_category c ON c.id = a.category_id
		JOIN gl.t_gl_user u ON u.id = a.create_by
	</sql>
    
	<select id="get" resultType="com.creditharmony.core.cms.entity.Link">
		SELECT 
			<include refid="cmsLinkColumns"/>
		FROM gl.t_gl_cms_link a
		<include refid="cmsLinkJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.creditharmony.core.cms.entity.Link">
		SELECT 
			<include refid="cmsLinkColumns"/>
		FROM gl.t_gl_cms_link a
		<include refid="cmsLinkJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			<if test="title != null and title != ''">
				AND a.title LIKE CONCAT('%', #{title}, '%')
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.modify_time DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="com.creditharmony.core.cms.entity.Link">
		SELECT 
			<include refid="cmsLinkColumns"/>
		FROM gl.t_gl_cms_link a
		<include refid="cmsLinkJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.modify_time DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO gl.t_gl_cms_link(
			id,
			category_id,
			title,
			color,
			image,
			href,
			weight,
			weight_date,
			create_by,
			create_time,
			modify_by,
			modify_time,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{category.id},
			#{title},
			#{color},
			#{image},
			#{href},
			#{weight},
			#{weightDate},
			#{createBy},
			#{createTime},
			#{modifyBy},
			#{modifyTime},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE gl.t_gl_cms_link SET 	
			category_id = #{category.id},
			title = #{title},
			color = #{color},
			image = #{image},
			href = #{href},
			weight = #{weight},
			weight_date = #{weightDate},
			modify_by = #{modifyBy},
			modify_time = #{modifyTime},
			remarks = #{remarks},
			del_flag = #{delFlag}
		WHERE id = #{id}
	</update>
	
	<update id="delete">
		UPDATE gl.t_gl_cms_link SET 
			del_flag = #{delFlag}
		WHERE id = #{id}
	</update>
	
	<select id="findByIdIn" resultType="com.creditharmony.core.cms.entity.Link">
		SELECT 
			<include refid="cmsLinkColumns"/>
		from gl.t_gl_cms_link a where 
		<where>
			id in (${id});
		</where>		
	</select>

	<update id="updateExpiredWeight">
		update gl.t_gl_cms_link SET
			 weight=0
		WHERE weight &gt; 0 AND weight_date &lt; CURRENT_DATE
	</update>
</mapper>